<!DOCTYPE html>
<html>
    <head>
        <title><%= name %></title>
    </head>
    <body>
        <h1><%= name %></h1>
        <p><%= quote %></p>
        <hr>
        <%= descr %>
    </body>
</html>